body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;    
    height: 100vh; 
}
main{
    flex: 1;
}
.navigation {
    font-size: 24px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    margin: 40px 50px 0px 50px;
    border-radius: 12px;
   position: sticky;
   top: 50px;
   z-index: 10;
   box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}
a:hover{
    color: blue;
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

.name{
    padding-top: 7px;
    flex: 1.5;
    margin-left: 10%;
    font-size: 2rem;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
}

.nav-bar{
    padding-top: 10px;
    flex: 2.5;
    font-size: 26px;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
}
@media(min-width: 1024px){
    .nav-bar{
        font-size: 32px;
    }
}
.menu-toggle{
    display: none;
    cursor: pointer;
    margin-top: 10px;
}
.menu-toggle span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    border-radius: 15px;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
@media(min-width: 1024px){
    .block{
        margin: 150px;
    }
}
.center-align{
   display: inline-block;
   margin: 0px;
   background-color: rgb(166, 190, 190);
   padding: 10px;
   border-radius: 10px;
   height: fit-content;
   box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
}


.pro-img{
    border-radius: 50%;
    width: 450px;
    margin: auto;
    padding: auto;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
}

a{
    text-decoration: none;
    color: black;
}

.nav-bar{
    display: inline;
    display: flex;
    justify-content: space-around;
}

.name h3{
    margin:  0;
    padding: 0;
}

@media(max-width: 920px) {
    .block{
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .center-align{
        order: 1;
        margin: auto;
    }
    .profile-image{
        display: flex;
        justify-content: center;
    }
    .pro-img{
        width: 250px;
        margin-top: 15%;
    
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: end;
    align-content: end;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
}
.social{
    display: flex;
    text-color: red;
    justify-content: space-around;
    gap: 30px;
}
.social-image{
    width: 32px;
    border-radius: unset;
    margin: 5px;
}
.social-image:hover{
    width: 48px;
}
@media(max-width: 600px){
    .social{
        display: grid;
        gap: 0px;
    }
    .copyright{
        order: 1;
    }
     h3{
        margin: 0%;
        padding: 0%;
    }
    .link{
      display: flex;
      justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    .nav-bar {
        display: none; /* Hide the navigation links */
    }
    .menu-toggle {
        display: block; /* Display the menu toggle */
    }
    .num img{
        max-width: 100%;
    }
}
.project-selection{
    width: 50%;
    margin: 20px auto;
    position: sticky;
    top: 130px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.select{
    font-size: 2rem;
    height: 7vh;
    max-width: 400px;
    
    border-radius: 7px;
   text-align: center;
}
.select:hover{
    cursor:pointer;
    
    background-color: lightgray;
}

 .num{
    margin-top: 20px auto;
   max-width: 400px;
   max-height: 400px;
   background-color: lightcyan;
   border-radius: 10px;
   position: relative;
   padding-bottom: 10px;
}
@media(max-width: 900px){
    .num{
        margin-top: 40px auto;
       max-width: 400px;
       max-height: 400px;
       background-color: lightcyan;
       border-radius: 10px;
       position: relative;
       
    }
    .projects{
        margin-top: 50px;
    }

}
.projects{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    color: #667eea;

    
}

.midline{
    width: 100%;
    height: 12px;
    background-color: #667eea;
  
   margin-bottom: 10px;
}
.box-content{
    margin: 0px 0 0 10px;
   font-size: 18px;
}
.num img{
    margin: 15px 20px 5px 20px;
    width: 90%;
    height: 70%;
    text-align: center;
    border-radius: 10px;

}
