body{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;    
    background-size: cover;
}
.navigation {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin: 40px 50px 0px 50px;
    border-radius: 12px;
}
a:hover{
    border-bottom: 4px solid blue;
}

.name{
    flex: 1.5;
    margin-left: 10%;
    font-size: 2rem;

}

.nav-bar{
    flex: 2.5;
    font-size: 28px;
}
.menu-toggle{
    display: none;
    cursor: pointer;
    margin-top: 10px;
}
.menu-toggle span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: blue;
    margin: 5px 0;
    border-radius: 15px;
}
.block {
    height: 80vh;
    border-radius: 20px;
    margin: 10px 50px 40px 50px;
    display: flex;
    justify-content: space-around;
    padding: 100px 5px 0px 5px;
}
@media (max-width: 900px){
    .block{
        display: inline-block;
    }
}
.block-inline{
    display: inline-block;

}
.center-align{
    display: inline-block;
   margin: 170px 20px 100px 200px;
   background-color: rgb(166, 190, 190);
   padding: 15px;
   border-radius: 10px;
   height: fit-content;
   opacity: 40%;
}
 h3 {
    opacity: 100%;
}

img{
    border-radius: 50%;
    width: 450px;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.nav-bar{
    display: inline;
    display: flex;
    justify-content: space-around;
}

.name h3{
    margin:  0;
    padding: 0;
}

@media screen and (max-width: 750px) {
    .nav-bar {
        display: none; /* Hide the navigation links */
    }
    
    .menu-toggle {
        display: block; /* Display the menu toggle */
    }

    .nav-bar.active {
        display: block; /* Display the navigation links when menu is active */
    }
}
